/* Estructura General */

body{
    font-family: 'Indie Flower', cursive !important; 
}

/* Header */

#navegacion{
    background-color: #FFF;
    margin: 10px 0px 30px 0px;
    align-items: flex-end;
}

.categorias__menu li, .tienda__nav li{
    display: inline-block;
}

#navegacion__logo{
    margin: 0px 40px 0px 0px;
}

.categorias__menu, .tienda__nav{
    padding: 0px;
    margin: 0px;
}

.categorias__menu a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 1.3em;
    margin: 0px;
    transition: all 1s;
}

.categorias__menu a:hover{
    transform: scale(1);
    color: #fe98a7;
    background-color: #F9EED3;
    padding: 5px;
    border-radius: 15px;
}

.busqueda form{
    border: 2px solid grey;
    border-radius: 15px;
    height: 35px;
}

.busqueda input{
    font-family: 'Indie Flower', cursive;
    height: 25px;
    text-align: left;
    background-color: transparent;
    border: none;
}

.busqueda--submit{
    width: 30px;
    height: 30px;
    border: none;
    background-color: transparent;
}

.banners{
    background-image: url("/images/banner01.jpg");
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
}

.banners2{
    grid-area: banners;
    background-image: url("/images/banner02.jpg");
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
}

/* Section Productos Destacados - Index */

.titulo{
    /* display: flex;
    flex-direction: row;
    justify-content: space-around; */
    margin-top: 50px;
}

.titulo h2{
    font-size: 1.8em;
}

/* .productosDestacados{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
} */

.productosDestacados__card, .receta__card{
    background-color: #F9EED3;
    padding: 10px;
    margin: 10px 0px 50px 0px;
    /*  display: flex;
    flex-direction: column; */
}

.productosDestacados__card h4{
    font-size: 1.5em;
    margin: 20px 0px 0px 10px;
}

.productosDestacados__card p{
    font-size: 1.2em;
    margin: 20px 10px 5px 10px;
}

.productosDestacados__card button, .contacto--enviar{
    font-size: 1.2em;
    font-family: 'Indie Flower', cursive;
    background-color: #fe98a7;
    border: none;
    border-radius: 10px;
    margin: 5px 10px;
}

.productosDestacados__card button{
    width: 40%;
    align-self: center;
    transition: all 1s;
}

.productosDestacados__card button:hover{
    transform: scale(1.2);
}

/* Division de secciones - Index */

.division{
    grid-area: division;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 10px 0px 60px 0px;    
}

.division div{
    height: 5px;
    width: 50%;
    background-color: #2B5970;
}

/* Estructura general del resto de las paginas */

#shop, #recetas, #deco, #aboutme{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 60px;
}

.navegacionLateral{
    width: 20%;
}

.filtros p{
    margin: 0px;
}

.filtros{
    margin-left: 60px;
}

.filtros h3{
    font-size: 1.8em;
}

.filtros__menu, .filtros__menu ul{
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.filtros__menu li{
    font-size: 1.2em;
}

.filtros__menu ul li{
    padding-left: 20px;
    font-size: 1em;
}

.cuerpo{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: space-around;
    width: 80%;
    padding-right: 30px;
}

/* Recetas */

.receta__card{
    background-color: #F9EED3;
    padding: 30px 30px 40px 30px;
}

.receta___titulo h2{
    font-size: 1.8em;
}

.receta__centro{
    width: 100%;
}

.receta__centro--foto{
    width: 50%;
}

.receta__centro--foto img{
    width: 100%;
    overflow: hidden;
}

.receta__centro--ingredientes{
    width: 50%;
    padding-left: 40px;
}

.receta__centro--ingredientes h4, .receta__pasoapaso h4{
    font-size: 1.5em;
}

.receta__centro--listaIngredientes ul{
    list-style: none;
    font-size: 1.2em;
}

.receta__centro, .receta__centro--listaIngredientes{
    display: flex;
    flex-direction: row;
}

.receta__centro--listaIngredientes{
    width: 100%;
    justify-content: space-between;
}

.receta__centro--listaIngredientes ul{
    width: 50%;
    padding: 0px;
    margin: 0px;
}

/* Deco */

.decoraciones{
    width: 44%;
    background-color: #F9EED3;
    padding: 20px 20px 10px 20px;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    align-content: center;
}

.decoraciones__sliderFotos{
    overflow: hidden;
    height: 200px;
}

.decoraciones__sliderFotos img{
    object-fit: none;
    object-position: center top;
}

.decoraciones h2{
    margin: 0px 0px 20px 0px;
}

.decoraciones a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 1.2em;
    text-align: right;
}

/* Pagina de Ambientacion en Particular */

.ambientaciones__sliderFotos{
    background-image: url("/deco/tematicas/harrypotter01.jpeg");
    height: 800px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: center;
}

.ambientaciones h2{
    font-size: 1.8em;
    margin-left: 100px;
}

.ambientaciones__texto{
    padding: 50px 100px 0px 100px;
}


/* Sobre Mi */

.aboutme__foto{
    width: 495px;
    height: 681px;
}

/* Formulario de Contacto - Index */

#contacto{
    margin: 0px;
    background-color: #F9EED3;
    grid-area: contacto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.formularioContacto{
    display: flex;
    flex-direction: column;
    width: 70%;
}

.formularioContacto div{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.formularioContacto label{
    font-size: 1.3em;
}

.formularioContacto h2{
    font-size: 1.8em;
}

.formularioContacto div label{
    width: 10%;
}

.formularioContacto div input{
    width: 90%;
    height: 40px;
}

#contacto input, #contacto textarea{
    margin: 10px 0px;
    border: 2px solid #fe98a7;
    border-radius: 15px;
}

.contacto--enviar{
    align-self: flex-end;
    width: 20%;
}

/* Footer */

#footer{
    margin-top: 30px;
    grid-area: footer;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#footer__minombre{
    padding-left: 30px;
}

#footer__redes{
    padding-right: 30px;
}